/* Write your CSS here */
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-size: cover;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  .app-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}
.ipl-dashboard-teams-container {
  max-width: 600px;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .ipl-dashboard-teams-container {
    width: 90%;
    max-width: 1100px;
  }
}

.ipl-dashboard-header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ipl-logo {
  width: 20px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .ipl-logo {
    width: 60px;
    height: 96px;
  }
}

.ipl-heading {
  font-family: 'Bree serif';
  font-size: 35px;
  font-weight: bold;
  color: #ffffff;
  margin-left: 14px;
}

@media screen and (min-width: 768px) {
  .ipl-heading {
    font-size: 76px;
    margin-left: 18px;
  }
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}
.team-card-list {
  display: flex;
  flex-direction: row;
  padding-left: 0px;

  flex-wrap: wrap;
}
